body{
  width: 100%;
  background-color: #111;
  overflow-x: hidden;
  height: 100vh;
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

input
{
  padding: 1rem;
  margin-bottom: 1rem;
 
  width: 20rem;
  border-radius: 5px;
  border: none;
  outline: none;
  transition:0.1s all ;
}

input:focus{
  padding: 1rem;
  width: 20rem;
  border: 3px solid #ee7e0d;
}

button{
width: 22rem;
padding: 0.80rem;
background-color: #ee7e0d;
border: none;
border-radius: 10px;
font-size: 17px;
text-transform: uppercase;
color: white;
cursor: pointer;
}